/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"); */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,700;1,600&family=Cabin+Sketch:wght@700&family=Outfit:wght@400;700&display=swap");
:root {
  --white: #ffffff;
  --blue: #a8d8ea;
  --purple: #aa96da;
  --light-pink: #fcbad3;
  --light-yellow: #ffffd2;
  --dark-green: #194a43;
  --green: #f1f6f6;
  --green-2: #d9ebe9;
  --primary: #f92060;
  --background-color: #f7f4f0;
}

body {
  background-color: var(--background-color);
}

.bg {
  background-color: var(--background-color);
}

.banner {
  margin-bottom: 100px;
  max-width: calc(100vw - 32px);
}

.banner-image {
  max-width: 594px;
}

.banner-text .heading {
  max-width: 447px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  text-transform: capitalize;
  color: #f92060;
  margin-bottom: 24px;
}

.banner-text .sub-heading {
  font-family: "Outfit";
  font-size: 20px;
  line-height: 32px;
  max-width: 440px;
  margin-bottom: 32px;
}

.banner-div {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  flex-wrap: wrap;
}

.banner-btns {
  display: flex;
}
.banner-btns .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 24px;
  width: 140px;
  height: 56px;
  border-radius: 8px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.book-now {
  color: white;
  background: var(--primary);
  margin-right: 24px;
}

.learn-more {
  width: 140px;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.nav-item .nav-link.active {
  color: var(--primary) !important;
}

.nav-item .nav-link {
  color: #000000 !important;
}

.nav-item .nav-link:hover {
  color: var(--primary) !important;
  transform: scale(1.03);
  transition-delay: 100ms;
}

.width-center {
  max-width: 1220px;
  margin: auto;
}

.services-div {
  margin-top: 100px;
}

.services-div .services-heading {
  max-width: 1145px;
  font-family: "Outfit";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: capitalize;
  color: var(--primary);
  text-align: center;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.service-card {
  max-width: 204px;
}

.service-card img {
  display: flex;
  margin: auto;
}

.service-card-heading {
  text-align: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  margin-top: 36px;
  margin-bottom: 20px;
  color: #000000;
}

.charges-heading {
  margin-top: 100px;
  width: 444px;
  height: 48px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: capitalize;
  color: var(--primary);
  margin-bottom: 8px;
}

.charges-sub-heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.price-card {
  max-width: 288px;
}

.price-img {
  width: 288px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.prices {
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-card {
  position: relative;
  margin: 12px;
  margin-right: 100px;
  border-radius: 8px;
}

.offer-img {
  position: absolute;
  top: -10px;
  left: -5px;
}

.offer-percent {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Arial";
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.025em;
  color: #393939;
}
.percent {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20.0699px;
  line-height: 25px;
  color: #f32323;
}

.price-card-body {
  padding: 16px;
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.price-card-name {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

li.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.charges-div {
  margin-bottom: 100px;
}

.about-us-div {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: auto;
  gap: 104px;
  flex-wrap: wrap;
}

.about-us-img {
  width: 520px;
  height: 407px;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.about-us-heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: capitalize;
  color: var(--primary);
  margin-bottom: 16px;
}

.about-us-sub-heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.book-2 {
  width: 140px;
  height: 56px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  margin-bottom: 28px;
}

.about-us-section .item,
.contact-us-section .item {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* text-transform: capitalize; */
  color: #000000;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 28px;
}

.about-us-section .item .icon,
.contact-us-section .item .icon {
  width: 52px;
  height: 52px;
  position: relative;
  top: 0px;
  /* background: #f2f7ff; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.about-us-section .item .icon img,
.contact-us-section .item .icon img {
  position: absolute;
}

.contact-us-div {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: auto;
  gap: 104px;
  flex-wrap: wrap;
}

.contact-us-heading {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: capitalize;
  color: var(--primary);
  margin-bottom: 47px;
}

footer {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  background-color: white;
  color: #000000;
  text-align: center;
  padding: 60px;
}

.slick-prev:before,
.slick-next:before {
  color: var(--primary);
  font-size: 30px;
  font-weight: 800;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: var(--primary);
}

.blue-bg {
  background: #f2f7ff;
  color: #3e6bd0;
}

.pink-bg {
  background-color: #f8f1ff;
}

.dark-green-bg {
  background-color: #d7f9dd;
}

.red-bg {
  background-color: #f5d2d2;
}

.light-green-bg {
  background: rgba(189, 255, 188, 0.4);
}

.red-2-bg {
  background-color: #f5d2d2;
}

.purple-bg {
  background-color: #e9e7ff;
}

.yellow-bg {
  background: rgba(255, 244, 188, 0.4);
}
.nav-link {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  margin-left: 20px;
}

.section {
  scroll-margin-top: 5.2rem;
}

.logo {
  width: 48px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .banner-image {
    max-width: 540px;
    margin-top: 60px;
  }

  .banner-text .heading {
    font-size: 36px;
    line-height: 50px;
    max-width: 388px;
  }

  .banner-text .sub-heading {
    font-size: 20px;
    line-height: 32px;
    max-width: 418px;
  }

  .width-center {
    max-width: calc(100vw - 32px) !important;
    margin: auto;
  }

  .services-div .services-heading {
    text-align: start;
    font-size: 36px;
    line-height: 48px;
  }

  .service-card {
    max-width: 264px;
  }

  .about-us-div {
    max-width: calc(100vw - 32px);
  }

  .contact-us-div {
    max-width: calc(100vw - 32px);
  }

  header {
    max-width: calc(100vw - 32px);
  }
}
