@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
:root {
  --white: #ffffff;
  --blue: #a8d8ea;
  --purple: #aa96da;
  --light-pink: #fcbad3;
  --light-yellow: #ffffd2;
}

.navbar {
  padding: 20px 10px;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 20px;
}

.logo-img {
  height: 30px;
  margin-right: 8px;
}

main {
  background-color: var(--blue);
}

.bg-custom-blue {
  background-color: var(--blue);
}
.bg-custom-purple {
  background-color: var(--purple);
}

.banner-div {
  /* background-color: var(--light-pink); */
  padding: 50px;
}

.banner {
  /* width: 100%; */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 40px solid var(--light-purple);
  box-shadow: -16px 20px 3px 1px rgb(90 90 90 / 20%);
  border-radius: 6px;
  background: #076585; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #aa96da,
    #8cb9c9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #aa96da,
    #8cb9c9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-img {
  height: 460px;
}

.header-main {
  font-size: 120px;
  line-height: 160px;
  max-width: 360px;
  font-weight: 700;
  /* color: var(--purple); */
  /* text-shadow: -4px 5px 3px rgb(100 100 100 / 80%); */
  font-family: sans-serif;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  font-size: 1.25rem;
  font-weight: 600;
}

i {
  margin: 0px 10px;
}

.map {
  width: 1000px;
  height: 300;
}

/* //////////////////////////////////////////////////// */

/* max-width: 1255px) */
@media (max-width: 1255px) {
  .banner-img {
    height: 360px;
  }

  .banner {
    gap: 20px;
  }

  .header-main {
    font-size: 100px;
    line-height: 120px;
    max-width: 260px;
  }
}

/* max-width: 991px) */
@media (max-width: 991px) {
  .banner-img {
    height: 360px;
  }

  .banner {
    gap: 20px;
  }

  .header-main {
    font-size: 80px;
    line-height: 120px;
    max-width: 200px;
  }

  .map {
    width: 800px;
    height: 300;
  }
}

/* max-width: 767px) */
@media (max-width: 767px) {
  .banner-img {
    height: 280px;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 0px;
  }

  .header-main {
    font-size: 64px;
    line-height: 80px;
    max-width: 500px;
    text-align: center;
  }

  .map {
    width: 500px;
    height: 300;
  }
}

/* max-width: 565px) */
@media (max-width: 565px) {
  .navbar {
    padding: 10px 0px;
  }

  .navbar-brand {
    font-size: 18px;
  }

  .nav-link {
    font-size: 16px;
  }

  .banner-img {
    height: 200px;
  }

  .banner-div {
    padding: 30px;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 0px;
    border-width: 20px;
    height: 55vh;
  }

  .header-main {
    font-size: 48px;
    line-height: 64px;
    max-width: 320px;
    text-align: center;
  }

  .map {
    width: 250px;
    height: 300;
  }
}
